* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  margin: 30px;
}
.query-container {
  padding: 5px 30px 20px 30px;
  width: 700px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: -2px 2px 5px 3px #d2d4dc;
}

.heading {
  font-size: 20px;
  color: #383721;
  padding-right: 200px;
}

.description {
  font-size: 13px;
  color: #afafaf;
}

.textarea {
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e6eb;
  padding: 10px;
  resize: none;
  outline: none;
  font-size: 12px;
}

::placeholder {
  color: #afafaf;
  font-size: 12px;
}

.drag-and-drop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.upload-icon {
  margin-right: 10px;
}

.anchor-ele {
  color: #0285ff;
}

.input-container {
  margin-bottom: 10px;
}

.input-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

#sepnotyContact {
  accent-color: #606c9e;
  margin-right: 10px;
}

#requestSepnoty {
  accent-color: #606c9e;
  margin-right: 10px;
}

.button-con {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 10px;
}

.button {
  background-color: #606c9e;
  border-width: 0px;
  border-radius: 50px;
  color: #ffffff;
  align-self: center;
  padding: 10px 60px 10px 60px;
  font-size: 14px;
}

.contact-heading {
  margin-bottom: 30px;
  font-size: 20px;
  color: #383721;
}
.contact-container {
  background-image: linear-gradient(#5beba3, #606c9e);
  padding: 10px 30px 0px;
  width: 300px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 2px 5px 3px #d2d4dc;
}
.contactus-items {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  color: #777777;
}

.contact-icon {
  font-size: 18px;
  margin-right: 20px;
  color: #011f4b;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: 87px;
}

.image {
  height: 250px;
  width: 200px;
  align-self: flex-end;
}
